# Server
NODE_ENV=development
PORT=3000

# JWT Authentication
JWT_SECRET=my-super-secret-key-change-in-production
JWT_REFRESH_SECRET=my-refresh-secret-key-change-in-production
JWT_ACCESS_EXPIRY=15m
JWT_REFRESH_EXPIRY=7d

DATABASE_URL=postgresql://postgres.[*****]:[Password]@aws-1-ap-southeast-1.pooler.supabase.com:0000/postgres

# Redis Cache (Optional for dev/prod)
REDIS_URL=rediss://default:[Password]@mint-roughy-79634.upstash.io:0000

